name: Build and deploy Node.js app to Azure Web App - arthur

on:
  push:
    branches:
      - merged
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'
          cache: 'npm'  # Enable caching for faster builds

      - name: Install dependencies
        run: npm ci  # Use npm ci for clean installs


      - name: Build Next.js app
        env:
         NEXT_PUBLIC_MONGODB_URI: ${{ secrets.NEXT_PUBLIC_MONGODB_URI }}
          MONGODB_URI: ${{ secrets.MONGODB_URI }}
          AUTH_SECRET: ${{ secrets.AUTH_SECRET }}
          NEXTAUTH_SECRET: ${{ secrets.NEXTAUTH_SECRET }}
          AUTH_GOOGLE_ID: ${{ secrets.AUTH_GOOGLE_ID }}
          AUTH_GOOGLE_SECRET: ${{ secrets.AUTH_GOOGLE_SECRET }}
          NEXT_PUBLIC_RAZORPAY_KEY_ID: ${{ secrets.NEXT_PUBLIC_RAZORPAY_KEY_ID }}
          NEXT_PUBLIC_RAZORPAY_KEY_SECRET: ${{ secrets.NEXT_PUBLIC_RAZORPAY_KEY_SECRET }}
          NEXT_PUBLIC_ACCOUNT_NAME: ${{ secrets.NEXT_PUBLIC_ACCOUNT_NAME }}
          AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          NEXT_PUBLIC_BASE_URL: ${{ secrets.NEXT_PUBLIC_BASE_URL }}
        run: npm run build

      # - name: Export Next.js app (if using `next export`)
      #   run: npm run export # Omit if not using `next export`

      - name: Zip artifact for deployment
        run: zip -r release.zip .next/* public/* next.config.js package.json

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app

      - name: Unzip artifact for deployment
        run: unzip release.zip

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_1CA9B33B65624A8686E8C692220161C5 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_0481EE5452BA4C5D857B83FA0D9292F0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_7271CBBB60634E1BAD8423C499081264 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'arthur'
          slot-name: 'Production'
          package: .
